<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loz'events</title>
    <link href="/static/bower_components/foundation-sites/dist/foundation.min.css" rel="stylesheet">
    <link href="/static/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/app.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>

    {% include "header.html" %}

    {% block content %}
    {% endblock %}

    {% include "footer.html" %}

    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/bower_components/what-input/polyfills/what-input.min.js"></script>
    <script src="/static/bower_components/foundation-sites/dist/foundation.min.js"></script>
    <script src="/static/js/app.js"></script>

  </body>
</html>
