  <footer class="rowFooter">
    <div class="row expanded small-up-1 medium-up-2 large-up-3 text-center">


              <div class="column">
                  <p class="lead">Infos</p>
                  <ul class="menu vertical">
                      <li><a href="#" class="afooter">Loz'Events</a></li>
                      <li><a href="#" class="afooter">Site Map</a></li>
                  </ul>
              </div>
              <div class="column">
                  <p class="lead">Partenaires</p>
                  <ul class="menu vertical">
                      <li><a href="#" class="afooter">Partenaire 1</a></li>
                      <li><a href="#"class="afooter">Partenaire 2</a></li>
                  </ul>
              </div>
              <div class="column">
                  <p class="lead">Contact</p>
                  <ul class="menu vertical">
                      <li><a href="https://www.facebook.com/Loz%C3%A8re-Animations-1722455281324360/?ref=aymt_homepage_panel" class="afooter"><i class="fi-social-facebook"></i> Facebook</a></li>
                      <li><a href="#" class="afooter">Contact</li>
                  </ul>
              </div>



         </div>
         <div class="row">
             <div class="medium-6 columns">
                 <!-- <ul class="menu">
                     <li><a href="#">Legal</a></li>
                     <li><a href="#">Partner</a></li>
                     <li><a href="#">Explore</a></li>
                 </ul> -->
             </div>
             <!-- <div class="medium-6 columns">
                 <ul class="menu float-right">
                     <li class="menu-text">Copyright</li>
                 </ul>
             </div> -->
         </div>
  </footer>
