<!-- <header>
    <ul class="menu">
    <li class="menu-text">Le site de Lozevents</li>
    <li><a href="/">Home</a></li>
    <li><a href="/eventclick">event click</a></li>
    <li><a href="/events">events</a></li>
    <li><a href="/log">log</a></li>
    <li><a href="/logpart">logpart</a></li>
    <li><a href="/logpro">logpro</a></li>
    <li><a href="/post">post</a></li>
    <li><a href="/userpart">userpart</a></li>
    <li><a href="/userpro">userpro</a></li>
</ul>
</header> -->


<header>

    <!--   logo et login -->
    <div class="top-bar-left">
        <ul class="menu">
            <li><img class="thumbnail" src="http://placehold.it/100x100"></li>
        </ul>
    </div>

    <div class="top-bar-right">
        <ul class="menu">
            <li><a href="#">My Account</a></li>
            <li><a href="{% url "login" %}" class="button">Login</a></li>
        </ul>
    </div>

    <!-- image titre bouton-->
    <div class="row rowHeader header">
        <div class="large-12 columns">
            <div class="row column text-center">
                <h1>Loz'Events</h1>
                <a href="{% url "event-list" %}" class="button large hollow">EVENTS</a>
                <div>
                    <a href="https://github.com/laetilu/lozevents"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://www.facebook.com/Loz%C3%A8re-Animations-1722455281324360/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>

    <!-- barre de recherche -->

    <div class="row">
        <div class="large-12 columns">
            <div class="callout secondary">
                <form>
                    <div class="row">
                        <div class="large-3 columns">
                            <label>Categories
                                <select>
                                    <option value="husker">Husker</option>
                                    <option value="starbuck">Starbuck</option>
                                    <option value="hotdog">Hot Dog</option>
                                    <option value="apollo">Apollo</option>
                                </select>
                            </label>
                        </div>

                        <div class="large-4 columns">
                            <label>Find Your Dream Planet
                                <input type="text" placeholder="Search destinations">
                            </label>
                        </div>

                        <div class="large-3 columns">
                            <label>Date
                                <select>
                                    <option value="husker">Aujourd'hui</option>
                                    <option value="starbuck">demain</option>
                                    <option value="hotdog">ce we</option>
                                    <option value="apollo">le mois prochain</option>
                                </select>
                            </label>
                        </div>

                        <div class="large-2 columns">
                            <button type="submit" class="button buttonH ">Search Now!</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <br>
    <br>

  </header>
