<header>
    <div data-sticky-container>
    <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
    <!-- <div class="top-bar"> -->
    <div class="title-bar-left">
    <ul class="menu">
    <li class="menu-text">Le site de Lozevents</li>
    <li><a href="{{ url_for('homepage') }}">Home</a></li>
    <li><a href="{{ url_for('posts') }}">Voir tous les posts</a></li>
    <li><a href="{{ url_for('add_post') }}">Ajouter un post</a></li>
    </ul>
    </div>
    <div class="title-bar-right">
    <ul class="menu">

    <li><a href="#" a data-open="myModalSignup">Signup</a></li>
    <li><a href="#" a data-open="myModal">Log in</a></li>
    </ul>
    </div>
    <!-- </div> -->
    </div>
    </div>
</header>