Django==1.9.5
MySQL-python==1.2.5
Pillow==3.2.0
argparse==1.2.1
betterpath==0.2.2
click==6.6
django-autoslug==1.9.3
django-ckeditor==5.0.3
django-extensions==1.6.3
django-guardian==1.4.1
django-leaflet==0.18.1
django-userena==2.0.1
easy-thumbnails==2.3
geopy==1.11.0
html2text==2014.12.29
l==0.11.0
six==1.10.0
vcversioner==2.16.0.0
wsgiref==0.1.2
zope.interface==4.2.0
