 {% extends 'base.html' %} {% block content %}
<!-- breadcrumb -->

<div class="row columns">
    <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
            <li><a href="#">Home</a></li>
            <li class="disabled">Mon compte</li>
        </ul>
    </nav>
</div>


<!-- categories favorites -->

<div class="row">
    <div class="medium-6 medium-centered large-4 large-centered columns">
        <fieldset class="fieldset">
            <legend>Check these out</legend>
            <input id="checkbox12" type="checkbox">
            <label for="checkbox12">Checkbox 1</label>
            <input id="checkbox22" type="checkbox">
            <label for="checkbox22">Checkbox 2</label>
            <input id="checkbox32" type="checkbox">
            <label for="checkbox32">Checkbox 3</label>
            <p><a type="submit" class="button expanded" data-open="exampleModal1">Enregistrer</a></p>
        </fieldset>
    </div>
</div>

<!-- formulaire info perso du client -->

<div class="row">
    <div class="medium-6 medium-centered large-4 large-centered columns">

        <form>
            <div class="row column log-in-form">
                <h4 class="text-center">Modifiez vos coordonnées</h4>
                <label>Nom
                    <input type="text" placeholder="nom">
                </label>
                <label>Prenom
                    <input type="text" placeholder="prenom">
                </label>
                <label>Adresse
                    <input type="text" placeholder="adresse">
                </label>

                <label>Code Postal
                    <input type="number" name="quantity" max="5" placeholder="30450">
                </label>
                <label>Email
                    <input type="text" placeholder="somebody@example.com">
                </label>
                <label>Mot de passe
                    <input type="text" placeholder="Password">
                </label>
                <label>Confirmation du mot de passe
                    <input type="text" placeholder="Confirmez">
                </label>
                <input id="show-password" type="checkbox">
                <label for="show-password">Show password</label>
                <p><a type="submit" class="button expanded">Modifiez</a></p>
                <p class="text-center"><a href="#">Forgot your password?</a></p>

            </div>
        </form>

    </div>
</div>
<br>
<hr>

<!-- evenements favoris -->


<div class="row column text-center">
    <h2>Vos evenements favoris</h2>
    <hr>
</div>
<div class="row small-up-2 medium-up-3 large-up-6">
    <div class="column">
        <img class="thumbnail" src="http://placehold.it/300x400">
        <h5>Titre</h5>
        <p>date</p>
        <a href="#" class="button small expanded hollow">Voir</a>
    </div>
    <div class="column">
        <img class="thumbnail" src="http://placehold.it/300x400">
        <h5>Titre</h5>
        <p>date</p>
        <a href="#" class="button small expanded hollow">Voir</a>
    </div>
    <div class="column">
        <img class="thumbnail" src="http://placehold.it/300x400">
        <h5>Titre</h5>
        <p>date</p>
        <a href="#" class="button small expanded hollow">Voir</a>
    </div>
    <div class="column">
        <img class="thumbnail" src="http://placehold.it/300x400">
        <h5>Titre</h5>
        <p>date</p>
        <a href="#" class="button small expanded hollow">Voir</a>
    </div>
    <div class="column">
        <img class="thumbnail" src="http://placehold.it/300x400">
        <h5>Titre</h5>
        <p>date</p>
        <a href="#" class="button small expanded hollow">Voir</a>
    </div>
    <div class="column">
        <img class="thumbnail" src="http://placehold.it/300x400">
        <h5>Titre</h5>
        <p>date</p>
        <a href="#" class="button small expanded hollow">Voir</a>
    </div>
</div>

<br> {% endblock %}
