{% extends 'base2.html' %} {% block content %}

<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text" role="menuitem" tabindex="0"><a href="{% url "home-page" %}">Loz'Events.com</a></li>
        </ul>
    </div>
</div>

<div class="rowPart">
  <div class="row ">
      <div class="medium-4 medium-centered large-6 large-centered columns formSignup">
        <form class="log-in-form" action="/profile/signup/part" method="post">
            {% csrf_token %}
            <div class="row column ">
                <h4 class="text-center">Inscription</h4> {% csrf_token %}
                <div class="row column ">
                    {% for field in form %} {{ field.errors }}
                    <label for="id_{{ field.name }}">{{ field.label }}{{ field }}</label>
                    {% endfor %}
                    </label>
                    <p>
                        <button type="submit" class="button expanded">Creer</button>
                    </p>
                </div>
            </div>
        </form>
    </div>
  </div>
</div>
{% endblock %}
