 {% extends 'base.html' %}

<!-- breadcrumb -->
{% load leaflet_tags %}

{% block content %}
<div class="row columns">
    <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
            <li><a href="{% url "home-page" %}">Home</a></li>
            <li class="disabled">Events</li>
        </ul>
    </nav>
</div>

<!-- info evenements -->

<div class="row">
    <div class="medium-6 columns medium-push-6">
        <img class="thumbnail" src="/media/{{event.photo}}">
    </div>
    <div class="medium-6 columns medium-pull-6">
        <h2>Titre : {{event.title}}</h2>
        <p>Description : {{event.desc}}</p>
        <p>Organisateur, pro : {{event.pro}}</p>
        <p>Date de debut : {{event.begin_date}}</p>
        <p>Date de fin : {{event.end_date}}</p>
        <p>Categorie : {{event.categorie}}</p>
        <p>Adresse : {{event.addr}}</p>
        <p>Participants :


            <!-- {% for user in users %} -->
            {{users}}
            <!-- {% endfor %} -->


        </p>

    </div>
</div>
<br>

<!-- map -->
<script type="text/javascript">


function map_init_basic (map, options) {

    var marker = L.marker([{{event.addr.poly.y|stringformat:".5f"}}, {{event.addr.poly.x|stringformat:".5f"}}]).addTo(map).bindPopup('{{event.title}}');
    map.setView({lat:{{event.addr.poly.y|stringformat:".5f"}}, lng:{{event.addr.poly.x|stringformat:".5f"}}}, 12)
   // map.setView(marker.latLng);
}
</script>

<div class="row medium-8 large-7 columns">
    <div class="">

        {% leaflet_map "idmap" callback="window.map_init_basic" %}



    </div>
</div>

<!--  evenements similaires slider-->

<div class="row column">
    <h4 style="margin: 0;" class="text-center">Evenements similaires</h4>
</div>
<div class="row small-up-3 medium-up-4 large-up-5">
    <div class="column">
        <img src="http://placehold.it/400x370&amp;text=Look at me!" alt="image for article">
    </div>
    <div class="column">
        <img src="http://placehold.it/400x370&amp;text=Look at me!" alt="image for article">
    </div>
    <div class="column">
        <img src="http://placehold.it/400x370&amp;text=Look at me!" alt="image for article">
    </div>
    <div class="column show-for-medium">
        <img src="http://placehold.it/400x370&amp;text=Look at me!" alt="image for article">
    </div>
    <div class="column show-for-large">
        <img src="http://placehold.it/400x370&amp;text=Look at me!" alt="image for article">
    </div>
</div>

<br> {% endblock %}
