{% extends 'base.html' %}

{% block content %}

    <!-- breadcrumb -->

<div class="row columns">
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li><a href="{% url "home-page" %}">Home</a></li>
        <li class="disabled">Events</li>
      </ul>
    </nav>
</div>
    <!-- galerie photos des categories -->

    <div class="row medium-8 large-7 columns">
        <div class="row small-up-2 medium-up-3 large-up-4">
            <!-- <div class="column">
                <img class="thumbnail" src="http://placehold.it/550x550">
                <h5>My Site</h5>
            </div> -->
            <ul>
                {% for event in events %}
                <li>
                    <h2>
                        <a href="{{event.slug}}">
                            {{event.title}}
                        </a>
                    </h2>
                    <img src="/media/{{event.photo}}" alt="image" />
                </li>
                {% endfor %}
            </ul>





        </div>
    </div>
<br>
<br>
<br>

    <!-- map -->





{% endblock %}
