 {% extends 'base.html' %}

<!-- breadcrumb -->
{% block content %}
<div class="row columns">
    <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
            <li><a href="#">Home</a></li>
            <li class="disabled">Events</li>
        </ul>
    </nav>
</div>

<!-- info evenements -->
<div class="row">
    <div class="medium-6 columns medium-push-6">
        <img class="thumbnail" src="http://placehold.it/750x350">
    </div>
    <div class="medium-6 columns medium-pull-6">
        <h2>Our Agency, our selves.</h2>
        <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero.
            Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor.</p>
    </div>
</div>
<br>
<!-- map -->

<div class="row medium-8 large-7 columns">
    <div class="">
        <img class="thumbnail" src="http://placehold.it/850x350">
    </div>
</div>

<!--  evenements similaires slider-->

<div class="row column">
    <h4 style="margin: 0;" class="text-center">Evenements similaires</h4>
</div>
<div class="row small-up-3 medium-up-4 large-up-5">
    <div class="column">
        <img src="http://placehold.it/400x370&amp;text=Look at me!" alt="image for article">
    </div>
    <div class="column">
        <img src="http://placehold.it/400x370&amp;text=Look at me!" alt="image for article">
    </div>
    <div class="column">
        <img src="http://placehold.it/400x370&amp;text=Look at me!" alt="image for article">
    </div>
    <div class="column show-for-medium">
        <img src="http://placehold.it/400x370&amp;text=Look at me!" alt="image for article">
    </div>
    <div class="column show-for-large">
        <img src="http://placehold.it/400x370&amp;text=Look at me!" alt="image for article">
    </div>
</div>

<br> {% endblock %}
