 {% extends 'base.html' %} {% block content %}

<!-- espace facebook slider -->
<div class="row">
    <div class="large-12 columns buttonHollow">
        <div class="text-center">
            <a href="#" class="button large hollow">Dernières Actus</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">

        <article>


                <div class="large-7 columns">

                    <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit="2hockt-orbit">
                        <ul class="orbit-container" tabindex="0" style="height: 534px;">
                            <button class="orbit-previous" aria-label="previous" tabindex="0"><span class="show-for-sr">Previous Slide</span>◀</button>
                            <button class="orbit-next" aria-label="next" tabindex="0"><span class="show-for-sr">Next Slide</span>▶</button>
                            <li class="orbit-slide is-active" data-slide="0" style="max-height: 534px;">
                                <img src="http://placehold.it/1000x534&amp;text=1st">
                            </li>
                            <li class="orbit-slide" data-slide="1" style="position: relative; display: none; max-height: 534px;">
                                <img src="http://placehold.it/1000x534&amp;text=2nd">
                            </li>
                            <li class="orbit-slide" data-slide="2" style="position: relative; display: none; max-height: 534px;">
                                <img src="http://placehold.it/1000x534&amp;text=3nd">
                            </li>
                            <li class="orbit-slide" data-slide="3" style="position: relative; display: none; max-height: 534px;">
                                <img src="http://placehold.it/1000x534&amp;text=4nd">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">

                    <div class="large-5 columns">
                        <!-- <div class="row">
                            <div class="large-6 columns">
                                <p><img src="http://placehold.it/300x300" alt="image for article"></p>
                            </div>
                            <div class="large-6 columns">
                                <h5><a href="#">'Derniers posts sur Facebook</a></h5>
                                <p>
                                    <span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
                                    <span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
                                    <span><i class="fi-comments"> 6 comments</i></span>
                                </p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae.</p>
                            </div>
                        </div> -->
                        <div id="fb-root"></div>
                            <script>(function(d, s, id) {
                              var js, fjs = d.getElementsByTagName(s)[0];
                              if (d.getElementById(id)) return;
                              js = d.createElement(s); js.id = id;
                              js.src = "//connect.facebook.net/fr_CA/sdk.js#xfbml=1&version=v2.6";
                              fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));</script>


                        <div class="fb-page" data-href="https://www.facebook.com/Loz&#xe8;re-Animations-1722455281324360/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>



                        <!-- <div class="row">
                            <div class="large-6 columns">
                                <p><img src="http://placehold.it/300x300" alt="image for article"></p>
                            </div>
                            <div class="large-6 columns">
                                <h5><a href="#">'Derniers posts sur Facebook</a></h5>
                                <p>
                                    <span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
                                    <span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
                                    <span><i class="fi-comments"> 6 comments</i></span>
                                </p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae.</p>
                            </div>
                        </div> -->
                    </div>
            </div>
        </article>
    </div>
</div>




<!-- galerie categorie -->

<div class="categorieGalerie">

    <div class="row">
        <div class="large-12 columns buttonHollow">
            <div class="text-center">
                <a href="{% url "event-list" %}" class="button large hollow">CATEGORIES</a>
            </div>
        </div>
    </div>


    <div class="row small-up-2 medium-up-3 large-up-5">
        <div class="column">
            <img class="thumbnail" src="/static/img/concertunthumbnail.jpg">
            <a href="#" class="button expanded">CONCERTS</a>
        </div>
        <div class="column">
            <img class="thumbnail" src="/static/img/artthumbnail.jpg">
            <a href="#" class="button expanded">ARTS</a>
        </div>
        <div class="column">
            <img class="thumbnail" src="/static/img/coursthumbnail.jpg">
            <a href="#" class="button expanded">COURS & ATELIERS</a>
        </div>
        <div class="column">
            <img class="thumbnail" src="/static/img/sportdeuxthumbnail.jpg">
            <a href="#" class="button expanded">SPORTS</a>
        </div>
        <div class="column">
            <img class="thumbnail" src="/static/img/feteunthumbnail.jpg">
            <a href="#" class="button expanded">FETES</a>
        </div>
    </div>

</div>




{% endblock %}
