 {% extends 'base.html' %}
 {% block content %}

<!-- espace facebook slider -->

<div class="row">
	<div class="large-12 columns">

		<article>
			<div class="row">

				<div class="large-5 columns">
					<div class="row">
						<div class="large-6 columns">
							<p><img src="http://placehold.it/300x300" alt="image for article"></p>
						</div>
						<div class="large-6 columns">
							<h5><a href="#">'Derniers posts sur Facebook</a></h5>
							<p>
								<span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
								<span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
								<span><i class="fi-comments"> 6 comments</i></span>
							</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae.</p>
						</div>
					</div>
					<div class="row">
						<div class="large-6 columns">
							<p><img src="http://placehold.it/300x300" alt="image for article"></p>
						</div>
						<div class="large-6 columns">
							<h5><a href="#">'Derniers posts sur Facebook</a></h5>
							<p>
								<span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
								<span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
								<span><i class="fi-comments"> 6 comments</i></span>
							</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae.</p>
						</div>
					</div>
				</div>

				<div class="large-7 columns">
					<br>
					<br>
					<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit="2hockt-orbit">
						<ul class="orbit-container" tabindex="0" style="height: 534px;">
							<button class="orbit-previous" aria-label="previous" tabindex="0"><span class="show-for-sr">Previous Slide</span>◀</button>
							<button class="orbit-next" aria-label="next" tabindex="0"><span class="show-for-sr">Next Slide</span>▶</button>
							<li class="orbit-slide is-active" data-slide="0" style="max-height: 534px;">
								<img src="http://placehold.it/1000x534&amp;text=1st">
							</li>
							<li class="orbit-slide" data-slide="1" style="position: relative; display: none; max-height: 534px;">
								<img src="http://placehold.it/1000x534&amp;text=2nd">
							</li>
							<li class="orbit-slide" data-slide="2" style="position: relative; display: none; max-height: 534px;">
								<img src="http://placehold.it/1000x534&amp;text=3nd">
							</li>
							<li class="orbit-slide" data-slide="3" style="position: relative; display: none; max-height: 534px;">
								<img src="http://placehold.it/1000x534&amp;text=4nd">
							</li>
						</ul>
					</div>
				</div>
			</div>
		</article>
	</div>
</div>

<br>
<br>

<div class="row">
	<div class="large-12 columns">
		<div class="row column text-center">
			<a href="#" class="button large hollow">MORE</a>
		</div>
	</div>
</div>

<br>
<br>
<br>

<!-- galerie categorie -->

	<div class="row small-up-2 medium-up-3 large-up-4">
		<div class="column">
			<img class="thumbnail" src="http://placehold.it/550x550">
		</div>
		<div class="column">
			<img class="thumbnail" src="http://placehold.it/550x550">
		</div>
		<div class="column">
			<img class="thumbnail" src="http://placehold.it/550x550">
		</div>
		<div class="column">
			<img class="thumbnail" src="http://placehold.it/550x550">
		</div>


	<div class="row small-up-2 medium-up-3 large-up-4">
		<div class="column">
			<img class="thumbnail" src="http://placehold.it/550x550">
		</div>
		<div class="column">
			<img class="thumbnail" src="http://placehold.it/550x550">
		</div>
		<div class="column">
			<img class="thumbnail" src="http://placehold.it/550x550">
		</div>
		<div class="column">
			<img class="thumbnail" src="http://placehold.it/550x550">
		</div>

	</div>

	<br>
	<br>
	<br>


	{% endblock %}
