@charset 'utf-8';

@import 'settings/settings';
@import 'foundation';
//@import 'motion-ui';


@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

//@include motion-ui-transitions;
//@include motion-ui-animations;

/*--------------------------------- Font*/

@font-face {
    font-family: "Benton Sans Regular";
    src: url('/static/font/BentonSans Regular.otf');
}
body {
    font-family: "Benton Sans Regular", Helvetica, Arial, sans-serif;
}
h1,h3 {
	font-family: "Benton Sans Regular", Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #0c0234;
  padding: 2rem;
}
/* --------------------------------------------------------------Header */

.header {
  background: url('/static/img/fetehome.jpg') center center no-repeat;
  background-size: cover;
}

.titreH1{
	margin-top: 0.6em;
}
.titreH{
  color:#292C37 !important;
}

.callout.secondary{
	background-color: rgba(244, 244, 244, 0.34);
}



/* ---------------------------------------------------------- Homepage */

.rowHome {
	padding: 2rem;
}
.rowFooter{
	margin-top: 2rem;
}

.button.hollow, .button.hollow:hover, .button.hollow:focus {
    background-color: rgba(195, 0, 22, 0.72);
    color: #fff;
}

#actus {
    padding: 0;
}

#events_cat {
    margin: 23px;
}


/* ----------------homepage wrapper */

$global-radius: 4px;
.image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  border-radius: $global-radius;
}

.image-overlay-content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0
}

.overlay-fade-in {

p {
  letter-spacing: 0.15em;
  color: #f4f4f4;
  font-size: 28px;
  opacity: 0;
  transition: all 0.2s linear;
}

  img {
    transition: all 0.2s linear;
  }

  .image-overlay-content {
    opacity: 0;
    background-color: rgba(230, 230, 230, 0.9);
    transition: all 0.4s ease-in-out;
			h3{
						color:#fff;
					}
			a {
				color:black;
			}
  }

  h2 {
    color: #f2f2f2;
    font-size: 1.8rem;
    margin-top: 40%;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    background: rgba(0,0,0,0.7);
  }

  /* .button {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #FFF;
    color: #FFF;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
    position: relative;
    border: 1px solid #999;
    opacity: 0;
    transition: all 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 0 5px #000;
    }
  } */

  &:hover img {
    transform: scale(1.2);
  }

  &:hover .image-overlay-content {
    opacity: 1;
  }

  /* &:hover h2, p, .button {
    opacity: 1;
  } */

  &:hover p {
    transition-delay: 0.1s;
  }

  &:hover .button {
    transition-delay: 0.2s;
  }
}

.overlay-slide-in-left {

  img {
    transition: all 0.3s ease-in-out;
  }

  .image-overlay-content {
    background-color: rgba(0,0,0,0.3);
    transform: translateX(-110%);
    opacity: 1;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 0 7px #ccc;
  }

  h2{
    font-size: 1.8rem;
    background: rgba(255, 255, 255, 0.7);
    margin-top: 40%;
    color: #000;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  }

  p {
    opacity: 0;
    color: #333;
    transition: all 0.2s linear;
  }

/*   .button {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
  position: relative;
  border-radius: 7px;

  &:hover {
    background-color: #444;
  }
} */

  &:hover .image-overlay-content {
    transform: translateX(0px);
  }

  &:hover img {
    transform: translateX(80%);
    transition-delay: 0.1s;
  }

  &:hover p{
    opacity: 1;
    transition-delay: 0.4s;
  }
}


.overlay-fade-in-new-background {

  /* .button {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 0 1px #000;
    position: relative;
    opacity: 0;
    transition: all 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 0 5px #fff;
      background-color: #222;
    }
  } */

  p{
    font-size: 28px;
  }

  .image-overlay-content {
    opacity: 0;
    background-image: url(http://subtlepatterns.com/patterns/gplaypattern.png);
    background-color: rgba(255,255,255, 0.5);
    transition: all 0.4s ease-in-out;
  }

  h2 {
    color: #000;
    font-size: 1.6rem;
    margin-top: 30%;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }

  p {
    opacity: 0;
    transition: all 0.2s linear;
  }

  img{
    transition: all 0.2s ease-in-out;
  }

  &:hover img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
    transform: scale(1.5);
  }

  &:hover .image-overlay-content {
    opacity: 1;
  }

/*   &:hover h2, p, .button {
  opacity: 1;
} */

  &:hover p {
    transition-delay: 0.1s;
  }

  &:hover .button {
    transition-delay: 0.2s;
  }
  }

.overlay-fade-in .button {
		margin-top: 4rem;
}


.imgCat{
	height: 13rem;
}

/* -------------------------------------facebook  */

#fb-page {
	height: 450px;
}

/*---------------------------------------------------------------EVENT LIST */

.callouteventlist{
  height: 27rem;
  background-color: #f8f8f8 !important;
}
.thumbnaileventlist{
  height: 12rem;
}
.dateeventlist{
  font-size: smaller;
}

/* -----------------------------------------------------------event display */
.eventdisplayinfo{
  text-align: justify;
  margin-left: 4rem;
}
.infoevent{
  background-color: #f8f8f8 !important;
  padding: 2rem !important;
}


/* -----------------------------------------------------------form signup */
.formcol{
  padding:2rem;
}
/* -------------------------------------------------form signup part & pro */

.rowPart{
  margin: 0;
  padding: 0;
  background-image: url('/static/img/fetehome.jpg');
  background-size: cover;
}
.rowPro{
  margin: 0;
  padding: 0;
  background-image: url('/static/img/sporttrois.jpeg');
  background-size: cover;
}
.formSignup{
  background-color: rgba(244, 244, 244, 0.7);
  padding: 2rem;
  }
/* -------------------------------------icone mon profil profiledetail.html */
.rowProfile{
  padding: 3rem;
}

/* -------------------------------------formulaire de modification de profil */
.labelProfile{
  list-style-type: none;
  display: inline;
  padding: 0.4rem;

}
/* -------------------------------------------------------------Post */


// Default medium-gray color
$medium-gray: #cacaca;
// Default global padding
$global-padding: 2rem;
// Global value used for all elements that have a border radius.
$global-radius: 3px;

// Setting the form border color
$form-border-color: $medium-gray;
// Setting the form padding
$form-padding: $global-padding;
// Setting the form border radius
$form-radius: $global-radius;

.log-in-form {
  border: 1px solid $form-border-color;
  padding: $form-padding;
  border-radius: $form-radius;
}
